---
import LayoutStacked from '../../app/LayoutStacked.astro';
import FormForget from '../../modules/FormForget.astro';
---

<LayoutStacked req_params="login">
	<div class="min-h-screen align-middle flex pb-[12vh]">
		<FormForget />
	</div>
</LayoutStacked>
