---
import { url } from '../lib/data.js';
import { REPO_NAME } from '../app/constants.js';
import ForgetForm from '../vue/components/ForgetForm.vue' // 新增引入忘记密码表单组件
---
<div
	class="w-full flex flex-col items-center justify-center px-6 pt-8 mx-auto pt:mt-0 dark:bg-gray-900"
>
	<a
		href="#"
		class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white"
	>
		<img src={url('assets/logo.svg')} alt="FlowBite Logo" class="mr-4 h-11" />
		<span>{REPO_NAME}</span>
	</a>
	<!-- Card -->
	<div
		class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800"
	>
		<h2 class="text-2xl font-bold text-gray-900 dark:text-white">
			忘记密码
		</h2>
		<ForgetForm client:load />
	</div>
</div>
